<div ng-controller="ProductsCtrl">
  <div class="row section-products">
    <div class="text-center col-xs-12">
      <div class="col-xs-12 text-center">
        <h1 style="font-size: 4rem; color: white;"><span translate="section-products.slogan"></span></h1>
      </div>
      <md-toolbar class="hidden-xs" md-theme="cyan">
        <div class="md-toolbar-tools">
          <i style="font-size: 2.4em" class="mdi-action-loyalty"></i>
          <md-button aria-label="Products" href="#section">
            <span translate="section-products.title"></span>
          </md-button>
          <!-- fill up the space between left and right area -->
          <span flex></span>

        </div>
      </md-toolbar>

      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Products</h1>
        </div>
      </div>


      <div class="row" style="margin: auto; padding-top: 20px; width:100%;">

        <div class="col-sm-6 col-md-4" ng-repeat="myProduct in myProducts">
          <br>
          <div style="height: 230px;" class="thumbnail">
            <img class="pull-right" ng-src="assets/images/{{myProduct.logo}}" alt="{{myProduct.title}}">
            <div class="caption">
              <h4>{{myProduct.title}}</h4>
              <p>{{myProduct.description}}</p>
            </div>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <em><p class="text-right"><a ng-href="{{myProduct.url}}">Find Out More</a></p></em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
