<section ng-controller="FeatureCtrl">
  <div class="section-feature">
    <div md-theme="blue" class="hidden-xs pull-center">

        <h1 class="retro text-center" style="padding: 0 5px; font-size: 4rem;">
          <span translate="section-feature.slogan-p1"></span>
          <i style="vertical-align:middle;font-size: 48pt;" class="pulse-grow mdi-action-favorite mdi-material-red"></i>
          <span translate="section-feature.slogan-p2"></span>
        </h1>

      <md-toolbar class="hidden-xs" md-theme="blue">

        <div class="md-toolbar-tools">
          <i style="font-size: 2.4em" class="mdi-device-devices"></i>
          <md-button  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom" aria-label="Feature" href="#section">
            <span translate="section-feature.title"></span>
          </md-button>
          <!-- fill up the space between left and right area -->
          <span flex></span>

        </div>
      </md-toolbar>
      <div>



      </div>
    </div>
    <div>
      <p class="text-center"><img style="padding: 10px 5px" src="/assets/images/feature.png" /></p>
      <h1 class="visible-xs retro text-center" style="padding: 0 5px; font-size: 4rem;">
        <span translate="section-feature.slogan-p1"></span>
        <i style="vertical-align:middle;font-size: 48pt;" class="pulse-grow mdi-action-favorite mdi-material-red"></i>
        <span translate="section-feature.slogan-p2"></span>
      </h1>
    </div>
  </div>
</section>
