<div ng-controller="ContactCtrl">
  <div class="section-contact">
    <div style="padding: 10px 0;" class="text-center">
      <div class="col-xs-12 text-center">
        <h1 style="color: #FF5722; font-size: 4rem;"><span translate="section-contact.slogan"></span></h1>
      </div>
      <md-toolbar class="hidden-xs" md-theme="deep-orange">
        <div class="md-toolbar-tools">
          <i style="font-size: 2.4em" class="mdi-communication-contacts"></i>
          <md-button aria-label="Contact" href="#section">
            <span translate="section-contact.title"></span>
          </md-button>
          <!-- fill up the space between left and right area -->
          <span flex></span>

        </div>
      </md-toolbar>

      <div class="row" style="margin: auto; padding-top: 20px; width:100%;">
        <div class="col-xs-12 text-center">
          <h1><span translate="section-contact.title"></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
