
  <nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
      <div class="row">


        <div class="col-sm-1 grid-changer">
          <a href="#" class="grid-toggle">
            <span class="ti-layout-grid3"></span>
          </a>
        </div>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="/#">
          <span class="glyphicon glyphicon-home"></span> yalisto.org
        </a>
      </div>

      <div md-theme="green" class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a ng-href="#">Focus</a></li>
          <li>
            <div class="dropdown">
              <a class="btn btn-success dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Other Services
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Domains and Hosting</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Websites Design</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mobile Apps</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social Media</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SEO and Maintenance</a></li>
              </ul>
            </div>
          </li>

          <li><a ng-href="#">Portfolio</a></li>
          <li><a ng-href="#">About Us</a></li>
          <li><a ng-href="#">Packages</a></li>
          <li><a ng-href="#">Features</a></li>
          <li><a ng-href="#">Products</a></li>
          <li><a ng-href="#">Testimonials</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
